################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CalendarBookingApp/obj
/CalendarBookingApp/bin/Debug/net8.0
